<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Athlete Database</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Australian International Athlete Information</h1>
    <p>Search athlete database for Australian athletes competing internationally</p>
    <form action="/climber">
        <input type="text" name="name">
        <button class="search">Search</button>
    </form>
    <div class="wrapper">
        <main>
            <section class="container">
                <% profiles.forEach(function(profile) { %>
                    <div class="profile-card">
                        <a href="/climber/<%= profile.id%>">
                            <img class="home-image" src="<%= profile.photo %>" alt="">
                            <p class="home-name"><%= profile.first_name%> <%= profile.surname %></p>
                        </a>
                    </div>
                <% }) %>
            </section>
        </main>
        
        <aside>
            <p>Australian Speed Record: </p>
            <ul>
                <li>Male: Ned Middlehurst, 8.83 seconds</li>
                <li>Female: Oceana Mackenzie, 9.589 seconds</li>
            </ul>
            <p>Australian Boulder Record: </p>
            <ul>
                <li>Male: James Kassay, 4th</li>
                <li>Female: Sam Berry, 5th</li>
            </ul>
            <p>Australian Lead Record: </p>
            <ul>
                <li>Male: Garth Miller, 13th</li>
                <li>Female: Samantha Berry and Oceana Mackenzie, 19th</li>
            </ul>

            <p>Last updated: 25/6/2019</p>
        </aside>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous">
    </script>

    <script src="app.js"></script>
</body>
</html>